<suite name="Xamplify Test Suite" preserve-order="true">
  <listeners>
    <listener class-name="com.stratapps.xamplify.listeners.TestListener" />
  </listeners>

  <!-- ✅ All vendor classes grouped under one test block -->
 <!-- <test name="Vendor Account Tests">
    <classes>
    
     <class name="com.stratapps.xamplify.tests.OnboardingPartnersTest" />
      <class name="com.stratapps.xamplify.tests.ManagePartnerTest" />
     
     
    
    <class name="com.stratapps.xamplify.tests.ShareLeadsTest" />
      <class name="com.stratapps.xamplify.tests.AddTracksTest" />
      <class name="com.stratapps.xamplify.tests.ManageTracksTest" />
      <class name="com.stratapps.xamplify.tests.TeamVendorTest" />
    </classes>
  </test>
-->



   ✅ Partner block can remain separate 
  <test name="Partner Account Tests">
    <classes>
<!--      <class name="com.stratapps.xamplify.tests.SharedLeadsTest"/>
-->      
      
         

<!--       <class name="com.stratapps.xamplify.tests.TeamPartnerTest"/>
-->      
         <class name="com.stratapps.xamplify.tests.ContactsTest"/>
      <class name="com.stratapps.xamplify.tests.OpportunitiesLeadTest"/>
            <class name="com.stratapps.xamplify.tests.OpportunitiesDealTest"/>

      
    </classes>
  </test>
</suite>
